env_id: "highway-v0"
render_mode: null 

env_params:
  observation:
    type: "Kinematics"
    vehicles_count: 10       
    features: ["presence", "x", "y", "vx", "vy"]  
    absolute: false          
    order: "sorted"          
    normalize: true          
  action:
    type: "DiscreteMetaAction"
  duration: 60               
  
  simulation_frequency: 15   
  policy_frequency: 2        
  
  lanes_count: 4             
  vehicles_count: 40         
  vehicles_density: 1.2      
  
  
  collision_reward: -2     
  
  high_speed_reward: 1.0     
  reward_speed_range: [20, 35] 
  
  lane_change_reward: -0.1   
  right_lane_reward: 0.2     
  
  normalize_reward: true
  offroad_terminal: false
  
  other_vehicles_type: "highway_env.vehicle.behavior.IDMVehicle"


agent_params:
  algorithm: "PPO"
  total_timesteps: 200000
  save_path: "models/highway_ppo_best_model"
  tensorboard_log: "logs/tensorboard/"
  checkpoint_freq: 100000
  
  model_params:
    learning_rate: 0.0005
    n_steps: 2048
    batch_size: 64
    n_epochs: 10
    gamma: 0.95            
    gae_lambda: 0.95
    clip_range: 0.2
    ent_coef: 0.01
    verbose: 1