env_id: "intersection-v1"
render_mode: null

env_params:
  observation:
    type: Kinematics
    vehicles_count: 15  
    features:
      - presence
      - x
      - y
      - vx
      - vy
      - cos_h
      - sin_h
    features_range:
      x: [-100, 100]
      y: [-100, 100]
      vx: [-20, 20]
      vy: [-20, 20]
    absolute: true
    
    flatten: true
    
    observe_intentions: true

  action:
    type: DiscreteMetaAction
    longitudinal: true
    
    lateral: true
    
    target_speeds: [0, 4.5, 9]

  duration: 25  
  destination: o1
  controlled_vehicles: 1
  initial_vehicle_count: 10
  spawn_probability: 0.6  
  screen_width: 600
  screen_height: 600
  centering_position: [0.5, 0.6]
  scaling: 7.15  
  
  collision_reward: -5  
  arrived_reward: 10    
  high_speed_reward: 1
  reward_speed_range: [0.0, 9.0] 
  normalize_reward: true
  offroad_terminal: false

agent_params:
  algorithm: "DQN"
  total_timesteps: 300000
  save_path: "models/intersection_custom_dqn"
  tensorboard_log: "logs/tensorboard/"
  checkpoint_freq: 150000
  
  model_params:
    learning_rate: 0.0005
    buffer_size: 50000
    learning_starts: 1000
    batch_size: 32
    tau: 1.0
    gamma: 0.99
    train_freq: 4
    gradient_steps: 1
    target_update_interval: 1000
    exploration_fraction: 0.3
    exploration_initial_eps: 1.0
    exploration_final_eps: 0.05
    verbose: 1
    
    policy_kwargs:
      net_arch: [256, 256]